.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 130px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.main-header.scrolled {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: 'Karla', sans-serif;
    transition: color 0.3s ease;
}

.main-header.scrolled .logo a {
    color: black;
}

.logo span {
    color: red;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.main-header.scrolled nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: red;
}